{% extends 'base.html' %}


{% block content %}

<div class="container">


  <div class="row">
  
    


  

  <div class="col-lg-8">
    <!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">{{ post.created }}</div>
            <!-- Post categories-->
            {% for category in post.categories.all %}
             <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'blog_post:blog_category' category.name %}">
             {{ category.name }}
            </a>&nbsp;

             {% endfor %}
            
        </header>
        <!-- Preview image figure-->
        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.image.url }}" alt="..." /></figure>
        <!-- Post content-->
        <section class="mb-5">
            <p class="fs-5 mb-4">{{ post.body  }}</p>
           
            
        </section>
    </article>
    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-4 p-4" action="" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    {% if request.user.is_authenticated %}
                    <input type="submit"  class="mt-2 btn btn-primary" value="Post">
                    {% else %}
                    <input type="submit"  class="mt-2 btn btn-primary" value="Post" disabled>
                    {% endif %}

                </form>
                <!-- Comment with nested comments-->
                {{ comments.count }} Comment{{ comments |pluralize }}
                {% for comment in comments %}
                <div class="d-flex mb-4">
                   
                    <!-- Parent comment-->
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    <div class="ms-3">
                        <div class="fw-bold">{{ comment.author.username|capfirst }}</div>
                        {{ comment.body }} 
                        <button type="button" class="reply-btn btn btn-dark btn-sm "> <i class="bi bi-reply"> Reply   </i> </button>
                        
                        

                        
                        <div class="replied-comments container mt-2 " style="display:none" >
                            <div class="form-group row ">

                                <form class="mb-4 p-4" action="" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                    {{ form }}
                                    {% if request.user.is_authenticated %}
                                    <input type="submit"  class="mt-2 btn btn-primary" value="Reply">
                                    {% else %}
                                    <input type="submit"  class="mt-2 btn btn-primary" value="Reply" disabled>
                                    {% endif %}
                
                                </form>


                            </div>

                        </div>
                       


                        <!-- Child comment 1-->
                        {% for reply in comment.replies.all %}
                        <div class="d-flex mt-4">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            
                            <div class="ms-3">
                                
                                <div class="fw-bold">{{ reply.author.username|capfirst }}</div>
                               {{ reply.body }}
                            </div>
                          
                        </div>
                        {% endfor %}
                        <!-- Child comment 2-->
                      
                    </div>
                </div>
                {% endfor %}
                <!-- Single comment-->
            
            </div>
        </div>
    </section>
</div>

</div>
</div>




{% endblock %}